*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
}

nav {
    display: flex;
    padding: 10px 0;
    text-align: center;
    justify-content: space-between;
    margin: 1rem 5rem;
}

.logo {
    display: flex;
    align-items: flex-start;
}

.logo img {
    width: 50px;
    background-color: transparent;
}

ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #333;
}

.main {
    width: 80%;
    margin: 1rem auto;
    color: black;
}

.main h2 {
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
}

.main p {
    margin-bottom: 3rem;
    color: #5a5858;
}

.main-body {
    display: flex;
    gap: 1rem;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
}

.buttons {
    display: flex;
    gap: 1rem;
    width: 100%;
}

button {
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

.buttons button {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.email-button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border: 2px solid #333;
}

button:hover {
    background-color: #555;
}

.email-button:hover {
    color: white;
}

form i {
    font-size: 1.2rem;
}

.input-group {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

fieldset {
    width: 90%;
    border: 2px solid rgb(117, 115, 115);
    padding: 0 10px;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

fieldset:nth-of-type(3){
    height: 8rem;
}

legend {
    font-size: 14px;
    padding: 0 10px;
}

input {
    border: none;
    outline: none;
    flex-grow: 1;
    font-size: 16px;
    padding: 5px;
}

.submit-button {
    width: 30%;
    padding: 10px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-left: auto;
}

.main-img {
    width: 50%;
    position: relative;
}

.main-img img {
    width: 100%;
    position: absolute;
    left: 5%;
}

